// Global Typography for Pages and Posts
.single-post__content-container, .page__content-container {
	// h2, h3, h4 {
	// 	-webkit-background: var(--wp--preset--gradient--gradient-90-deg);
	// 	-moz-background: var(--wp--preset--gradient--gradient-90-deg);
	// 	background: var(--wp--preset--gradient--gradient-90-deg);
	// 	-webkit-text-fill-color: transparent;
	// 	text-fill-color: transparent;
	// 	-webkit-background-clip: text;
	// }

	width: 100%;
 	max-width: var(--wp--custom--content-width-desktop);
	margin: 0 auto;
	padding-inline: 0.5rem;
 	padding: 30px 0 100px;
	display: block;

	h2, h3 {
		padding: 50px 10px 20px 0px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 2rem;
		width: 100%;

		@media (max-width: 800px) {
			font-size: 1.6rem;
			padding: 50px 0;
		}
	}

	h3 {
		font-size: 1.6rem;
		padding: 25px 0;
		margin: 5px 0 15px;
	}

	p, a, p a {
		font-size: 1.2rem;
		padding: 5px 0;
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;

		@media (max-width: 500px) {
			text-align: left;
		}
	}

	p {
		width: 100%;
		text-align: justify;
	}

	a {
		color: #007bff;
	}

	ul {
		font-size: 1.2rem;
		text-decoration: none;
		padding-left: 0px;
		padding-bottom: 40px;
		width: 100%;

		li {
			padding: 5px;
			margin-left: 20px;
			list-style-type: none;
		}
	}
}
