.single-post{
    &__header{
        width: var(--wp--custom--content-width-mobile);
        margin-inline: auto; 
        
        @media (min-width: 920px) {
            width: var(--wp--custom--content-width-tablet); 
        }
        
        @media (min-width: 1200px) {
            width: var(--wp--custom--content-width-desktop);  
        }
    
        @media (min-width: 1600px){
            width: var(--wp--custom--content-width-large-desktop);
        }
    }
    &__title {
        padding: 60px 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        -webkit-background: var(--wp--preset--gradient--gradient-90-deg);
        -moz-background: var(--wp--preset--gradient--gradient-90-deg);
        background: var(--wp--preset--gradient--gradient-90-deg);
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 400;
        font-size: 2rem;
        
        width: 100%;
        @media (max-width: 800px){
            font-size: 1.6rem;
            padding: 50px 0;
        }
        
    }
}