includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - custom-posts.php
        - src/
    excludePaths:
        - vendor/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue